<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/components/css/footer.css">
</head>

<body>
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="my-0">

    <footer class="text-white text-center text-lg-start footer-background">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About Me</h5>

            <p>
              Learn ICT with Thusitha Kumara provides high-quality ICT education for students preparing for G.C.E. O/L
              and A/L exams.
            </p>

            <p>
              With expert teaching and practical lessons, Thusitha Kumara helps students build strong ICT skills for
              academic and career success.
            </p>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg" href="https://www.facebook.com/thusithaIT"
                target="_blank">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742134568/e197d8ce-f9b7-4bb4-aff9-fede3d80e1cc.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                href="https://www.youtube.com/@thusithakumaraict" target="_blank">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742179278/26548645-acf2-4b7b-a7b7-738eaafe14aa.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg" href="https://wa.me/+94716151541"
                target="_blank">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742179581/9eaac657-27fe-40a8-b46c-46a1232579ae.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg" href="tel:+94716151541" target="_blank">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742179620/2143ab48-dbd0-4738-b0cb-fb71a7436489.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1 footer-text">Contact Me</h5>

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Phone
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: +94 71 6151 541</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fab fa-whatsapp"></i></span><span class="ms-2">WhatsApp &nbsp;: +94 71
                  6151 541</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Email
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: contact@thusithaict.lk</span>
              </li>
            </ul>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-text">
            <h5 class="text-uppercase mb-4 footer-text">Contact institutes</h5>

            <table class="table-style mx-4">
              <tr>
                <td>ISK - Kuliyapitiya</td>
                <td>0112 265 854</td>
              </tr>
              <tr>
                <td>Sethma - Wilattawa</td>
                <td>032 2246 112</td>
              </tr>
              <tr>
                <td>Siyesa - Weerapokuna</td>
                <td>037 1256 123</td>
              </tr>
              <tr>
                <td>Online - All Island</td>
                <td>+94 71 6151 541</td>
              </tr>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3 bg-dark text-white">
        © 2025 <strong>Thusitha ICT</strong>. All rights reserved.
        <!--
          © 2025 <strong>Thusitha ICT</strong>. All rights reserved. | Developed by <strong>innozoft.lk</strong>
        -->
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <!-- End of .container -->
</body>

</html>