<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/components/css/footer.css">
</head>

<body>
  <!-- Remove the container if you want to extend the Footer to full width. -->
  <div class="my-0">

    <footer class="text-white text-center text-lg-start footer-background">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About Me</h5>

            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>

            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p>

            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742134568/e197d8ce-f9b7-4bb4-aff9-fede3d80e1cc.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742134568/e197d8ce-f9b7-4bb4-aff9-fede3d80e1cc.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742134568/e197d8ce-f9b7-4bb4-aff9-fede3d80e1cc.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg">
                <img
                  src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1742134568/e197d8ce-f9b7-4bb4-aff9-fede3d80e1cc.png"
                  alt="" width="30" height="30">
              </a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1 footer-text">Contact Me</h5>

            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">Phone &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 070 5656895</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fab fa-whatsapp"></i></span><span class="ms-2">WhatsApp &nbsp;: 076 4545785</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: contact@thusithaict.lk</span>
              </li>
            </ul>
            
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-text">
            <h5 class="text-uppercase mb-4 footer-text">Contact institutes</h5>

            <table class="table-style mx-4">
              <tr>
                <td>ISK - Kuliyapitiya</td>
                <td>0112 265 854</td>
              </tr>
              <tr>
                <td>Sethma - Wilattawa</td>
                <td>032 2246 112</td>
              </tr>
              <tr>
                <td>Siyesa - Weerapokuna</td>
                <td>037 1256 123</td>
              </tr>
              <tr>
                <td>Online - All Island</td>
                <td>070 5656 456</td>
              </tr>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2025 copyright: thusithaict.lk | Developed by Xylon Software (PVT) Ltd.
        <a class="text-white"></a>
      </div>
      <!-- Copyright -->
    </footer>

  </div>
  <!-- End of .container -->
</body>

</html>