<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thusitha ICT</title>

    <link rel="stylesheet" href="/components/css/teachersCarasoul.css">
</head>

<body>
    <!--Teachers Carasoul-->
    <div id="teachersSection" class="container">
        <h3 class="text-style text-center">Teachers</h3>
    </div>

    <div class="carasoul-container py-0 d-flex justify-content-center">
        <div class="card-carousel">
            <div class="card" id="1">
                <div class="image-container"></div>
                <p class="h3">Thusitha Kumara</p>
                <p class="py-2">BSc (Hons) in Computer Science <br>Dip. in Information Technology</p>
                <p></p>
            </div>
            <div class="card" id="2">
                <div class="image-container"></div>
                <p class="h3">Thusitha Kumara</p>
                <p class="py-2">BSc (Hons) in Computer Science <br>Dip. in Information Technology</p>
            </div>
            <div class="card" id="3">
                <div class="image-container"></div>
                <p class="h3">Thusitha Kumara</p>
                <p class="py-2">BSc (Hons) in Computer Science <br>Dip. in Information Technology</p>
            </div>
            <div class="card" id="4">
                <div class="image-container"></div>
                <p class="h3">Thusitha Kumara</p>
                <p class="py-2">BSc (Hons) in Computer Science <br>Dip. in Information Technology</p>
            </div>
            <div class="card" id="5">
                <div class="image-container"></div>
                <p class="h3">Thusitha Kumara</p>
                <p class="py-2">BSc (Hons) in Computer Science <br>Dip. in Information Technology</p>
            </div>
        </div>
        <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
    </div>
    <script src="/components/js/teachersCarasoul.js"></script>
    <!--Teachers Carasoul End-->
</body>

</html>