<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />


    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <!--Timetable-->
    <div id="timetableSection" class="container d-flex justify-content-center">
        <div class="row d-flex align-items-center justify-content-center">
            <h3 class="text-center text-style">Timetable</h3> <br><br><br><br><br>
            <div class="container justify-content-center d-flex justify-content-center">
                <img id="timetableImage"
                    src="https://res.cloudinary.com/dwbw83rrr/image/upload/v1741969429/srthdfgbn-1536x1280_hw7e2o.jpg"
                    alt="Timetable png" style="width: 70%;" />
            </div>
        </div>
    </div>
    <!--Timetable End-->
</body>

</html>