/* 
    This is styling for promotion sectio in the student dashboard main area
*/
.img-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  #carouselExampleInterval {
    align-items: center;
    margin: 20px;
  }
}
